body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content:center;
  margin-top: 20px;
}

.control {
  width: 200px;
  height: 100px;
  border: 3px solid gray;
  text-align: center;
  height: 90px;
  line-height: 90px;
}
